/*General reset for body to remove margin and padding*/
body {
    margin: 0;
    padding: 0;
}

/* Navbar styles */
/*TOP NAVBAR*/
.top-navbar {
    background-color: var(--clr-accent-dark);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.top-navbar .logo,
.top-navbar a {
    color: var(--clr-primary);
    text-decoration: none;
    padding: 0.5rem 1rem;
}

/*SIDE NAVBAR*/
.side-navbar {
    background-color: var(--clr-accent-dark);
    color: var(--clr-secondary);
    padding: 1rem;
    width: 250px; /* Adjust based on your design */
    height: 100vh;
    position: fixed;
    overflow-y: auto;
}
.side-navbar a {
    color: var(--clr-primary);
    text-decoration: none;
    display: block;
    padding: 0.5rem 0;
}
/* Highlight for active section/hover*/
/*Changes the bg color on hover*/
.side-navbar a:hover {
  background-color: var(--clr-accent); 
  color: var(--clr-white);
  font-weight: bold;
  cursor: pointer; /* Changes the cursor to indicate clickable items */
}

/*Changes the color of the active link*/
.side-navbar a.active {
    color: var(--clr-primary-text); 
    font-weight: bold;
}

/*MOBILE NAVBAR*/
.mobile-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
}
nav a {
    text-decoration: none;
    color: var(--clr-primary);
}
nav ul {
    list-style: none;
    margin: 10px 0;
}
nav a:hover {
    color: var(--accent-color);/*highlight on hover*/
}
  
/*This will hide the topnav and sidenav on smaller screen initially*/
.top-navbar,
.side-navbar,
#navbar-close {
    display: none;
}

/*TYPOGRAPHY PAGE STYLES*/
/*styles for font uses table and utility class uses table*/
/*css reference from OpenAI. (2024). ChatGPT (3.5). https://chat.openai.com*/
.f-use-table, .u-class-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.f-use-table th, .f-use-table td,
.u-class-table th, .u-class-table td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

.f-use-table th, .u-class-table th {
    background-color: #f2f2f2;
}

.f-use-table tr:nth-child(even), .u-class-table tr:nth-child(even) {
    background-color: #f9f9f9;
}
  
.f-use-table tr:hover, .u-class-table tr:hover {
    background-color: #eaeaea;
}

/*Media Query for Larger Screens*/
@media (min-width: 768px){
    .mobile-navbar {
        display: none;/*hide on larger screen*/
    }
    .top-navbar,
    .top-navbar ul,
    .side-navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .side-navbar .side-nav-links {/*hide navlinks from side nav*/
        display: none;
    }
}