/*General reset for body to remove margin and padding*/
body {
    margin: 0;
    padding: 0;
}

/*Font variables*/
:root {
    /*Typefaces*/
    --font-family-heading: 'DM Sans', sans-serif;
    --font-family-body: 'Source Sans 3', sans-serif;
    --font-family-button: 'Roboto', sans-serif;
    /*Font sizes*/
    --font-size-body: 16px;
    --font-size-heading: 32px;
    --font-size-button: 14px;
    /*Font weights*/
    --font-weight-heading: 700;/*Bold*/
    --font-weight-body: 400;/*Regular*/
    --font-weight-button: 500;/*Medium*/
}

/* Navbar styles */
/*TOP NAVBAR*/
.top-navbar {
    background-color: var(--clr-accent-dark);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.top-navbar .logo,
.top-navbar a {
    color: var(--clr-primary);
    text-decoration: none;
    padding: 0.5rem 1rem;
}
/*.top-navbar span { /*For items without a link*/
    /*padding: 0.5rem 1rem;
} 
/*SIDE NAVBAR*/
.side-navbar {
    background-color: var(--clr-accent-dark);
    color: var(--clr-secondary);
    padding: 1rem;
    width: 250px; /* Adjust based on your design */
    height: 100vh;
    position: fixed;
    overflow-y: auto;
}
.side-navbar a {
    color: var(--clr-primary);
    text-decoration: none;
    display: block;
    padding: 0.5rem 0;
}
/*Highlight for active section/hover*/
.side-navbar a:hover,
.side-navbar a:active {
    background-color: var(--clr-white);
}
/*MOBILE NAVBAR*/
.mobile-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
}
nav a {
    text-decoration: none;
    color: var(--clr-primary);
}
nav ul {
    list-style: none;
    margin: 10px 0;
}
nav a:hover {
    color: var(--accent-color);/*highlight on hover*/
}
.top-navbar,
.side-navbar,
#navbar-close {
    display: none;/*hide on smaller screen initially*/
}

/*Media Query for Larger Screens*/
@media (min-width: 768px){
    .mobile-navbar {
        display: none;/*hide on larger screen*/
    }
    .top-navbar,
    .top-navbar ul,
    .side-navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}