/*Color variables*/
:root {
    --clr-primary-text: #212529;
    --clr-primary-bg: #F2D5E5;/*light pink*/
    --clr-accent: #007BFF;
    --clr-secondary-bg: #B7AFC0;/*very light purple*/
    --clr-secondary-text: #1F1F1F;
    --clr-accent-light: #F5EEE5;/*very light brown*/
    --clr-accent-dark: #C8B6DD;/*darker shade of purple*/
    --clr-white: #FFF;
}  
/*CSS reset*/
/*Border box fix*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*Margin reset*/
body,
h1, h2, h3, h4, h5, h6,
p, figure, picture,
ul, ol {
  margin: 0;
  padding: 0;
}
/*remove padding from list*/
ul, ol {
    list-style: none;
}