/*CSS reset*/
/*Border box fix*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*Margin reset*/
body,
h1, h2, h3, h4, h5, h6,
p, figure, picture,
ul, ol {
  margin: 0;
  padding: 0;
}
/*remove padding from list*/
ul, ol {
    list-style: none;
}

:root {
    /*Color variables*/
    --clr-primary-text: #212529;
    --clr-primary-bg: #F2D5E5;/*light pink*/
    --clr-accent: #007BFF;
    --clr-secondary-bg: #B7AFC0;/*very light purple*/
    --clr-secondary-text: #424242;
    --clr-accent-light: #F5EEE5;/*very light brown*/
    --clr-accent-dark: #C8B6DD;/*darker shade of purple*/
    --clr-white: #FFF;
    
    /*Font variables*/
    /*Typefaces*/
    --font-family-heading: 'DM Sans', sans-serif;
    --font-family-body: 'Source Sans 3', sans-serif;
    --font-family-button: 'Roboto', sans-serif;
    /*Font sizes*/
    --font-size-body: 16px;
    --font-size-heading: 32px;
    --font-size-button: 14px;
    /*Font weights*/
    --font-weight-heading: 700;/*Bold*/
    --font-weight-body: 400;/*Regular*/
    --font-weight-button: 500;/*Medium*/

}

/*Color utility classes*/
/*Base color utility classes*/
.text-primary { color: var(--clr-primary-text); }
.bg-primary { background-color: var(--clr-primary-bg); }

.text-secondary { color: var(--clr-secondary-text); }
.bg-secondary { background-color: var(--clr-secondary-bg); }

.text-accent { color: var(--clr-accent); }
.bg-accent { background-color: var(--clr-accent); }

/*Tonal variations utility classes*/
.text-accent-light { color: var(--clr-accent-light); }
.bg-accent-light { background-color: var(--clr-accent-light); }

.text-accent-dark { color: var(--clr-accent-dark); }
.bg-accent-dark { background-color: var(--clr-accent-dark); }

/*White color utility class*/
.text-white { color: var(--clr-white); }
.bg-white { background-color: var(--clr-white); }
